.date_range
  = form_tag past_applications_application_records_path, method: :get do
    List applications between
    = text_field_tag :records_start_date, '', class: 'datepicker',
                                              required: true
    and
    = text_field_tag :records_end_date, '', class: 'datepicker',
                                                    required: true
    = submit_tag 'List Applications'
