.dashboard_partial
  - @departments.each do |department|
    .title_header.fs-26= department.name
    .application_block
      - department.positions.each do |position|
        .pending_applications_position= position.name
        %ul
          - if @pending_records.key? position
            - @pending_records[position].each do |record|
              %li= link_to record.user.proper_name, record
          - else
            No pending applications
