.dashboard_partial
  .row
    - @departments.each do |department|
      .col-md-2
        .title_header= department.name
      .col-md-10.application_block
        - department.positions.each do |position|
          .pending_applications_position= position.name
          %ul
            - if @pending_records.key? position
              - @pending_records[position].each do |record|
                %li= link_to record.user.proper_name, record
            - else
              No pending applications
