%ul
  - @departments.each do |department|
    %li
      %h3= department.name
    %ul
      - department.positions.each do |position|
        %li
          = position.name
          %ul
            - if @pending_interviews.has_key? position
              - @pending_interviews[position].each do |interview|
                %li= link_to interview.information(include_name: true),
                     interview.application_record
            - else
              No pending interviews
