.dashboard_partial
  .partial_block
    .title_header.fs-26 Site Texts
    %ul
      - @site_texts.each do |site_text|
        %li= link_to "Change #{site_text.name} text",
          edit_site_text_path(site_text)
      %li= link_to 'Request new site text', request_new_site_texts_path
