%h1 Staff Dashboard

%h3.dashboard_heading Pending applications / schedule interviews
%h3.dashboard_heading Past applications / interviews
%h3.dashboard_heading Reschedule interviews
%h3.dashboard_heading Application forms
= render partial: 'application_templates'
%h3.dashboard_heading Configure email templates
%h3.dashboard_heading Site text
= render partial: 'site_texts'
%h3.dashboard_heading Reports
