%table.eeo_table#ethnicity_table
  %thead
    %tr
    %th Ethnicity
    %th Total Applicants
    %th Total Interviews
    %th Total Hired
  - @records[:ethnicities].each do |ethnicity, count, interview_count, hired|
    %tr
      %td= ethnicity
      %td= count
      %td= interview_count
      %td= hired
