%table.eeo_table#gender_table
  %thead
    %tr
      %th Gender
      %th Total Applicants
      %th Total Interviews
  - @records[:genders].each do |gender, count, interview_count|
    %tr
      %td= gender
      %td= count
      %td= interview_count
