%table.calendar
  %tbody
    %tr.hours_row
      %td.col_1
      -Unavailability::HOURS.each do |hour|
        %td.hours= hour
    -Date::DAYNAMES.each do |dow|
      %tr.dow_row
        %td.day.col_1= dow
        -Unavailability::HOURS.each do |hour|
          -if unavailability[dow.downcase.to_sym].include?(hour)
            %td.hours_checkbox.checked_off
          -else
            %td.hours_checkbox
