.calendar
  .hours_row
    .hours.col_1
    -Unavailability::HOURS.each do |hour|
      .hours= hour
  -Unavailability::DAYS.each do |dow|
    .dow_row
      .day.col_1= dow
      -Unavailability::HOURS.each do |hour|
        -if unavailability[dow.downcase.to_sym].include?(hour)
          .hours_checkbox.checked_off
        -else
          .hours_checkbox
