%h1 Development login

- [@staff, @students].each_with_index do |group, index|
  %h2 Login as #{%w(staff student)[index]}:
  %ul
    - group.each do |user|
      = form_tag action: 'dev_login' do
        = hidden_field_tag :user_id, user.id
        = submit_tag user.full_name
