%h1 Development login

%h2 Login as staff:
/TODO - make buttons work
%ul
  - @staff.each do |user|
    %li= user.full_name

%h2 Login as a student:
/TODO - make buttons work
%ul
  - @students.each do |user|
    %li= user.full_name

