*

!/app/
!/bin/
!/config/
!/db/
!/lib/
!/public/
!/vendor/
!/.npmrc
!/.ruby-version
!/config.ru
!/Gemfile
!/Gemfile.lock
!/package.json
!/package-lock.json
!/postcss.config.js
!/Rakefile
!/rollup.config.js

**/*.key
