/.local-overcommit.yml
/app/assets/builds/*
!/app/assets/builds/.keep
/config/application.yml
/config/credentials/*.key
/config/database.yml
/coverage/*
!/coverage/.last_run.json
/log/
/node_modules/
/public/assets/
/spec/examples.txt
/storage/
/tmp/
