%table.data_table.display#main_data_table
  %thead
    %tr
      %th Date submitted
      %th Name
      %th Note
      %th Date to review
  %tbody
    - @saved.each do |record|
      %tr
        %td{ data: { order: record.created_at.to_i } }
          = format_date_time record.created_at
        %td
          = link_to(record.user.proper_name, application_record_path(record.id))
        %td
          = record.note_for_later
        %td
          = format_date record.date_for_later if record.date_for_later
