table#eeo_table{
  font-family: "Lucida Sans Unicode";
  margin: 45px;
  border-collapse: collapse;
  text-align: left;
  width: 75%;
  th{
    font-weight: normal;
    padding: 10px 8px;
    border-bottom: 2px solid black;
  }
  td{
    border-bottom: 1px solid #ccc;
    padding: 6px 8px;
  }
}
