.totals_display{
  display: flex;
  margin-top: 2em;
  flex-direction: column;
  .total_row.heading{
    font-weight: bold;
  }
  .total_row{
    padding: .5em;
    display: flex;
    flex: 1;
    .total_item.word{
      flex: 2;
    }
    .total_item{
      flex: 3;
      border: 1px solid black;
    }
  }
}
