.questions_responses_container{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  .question_row{
    display: flex;
    flex-direction: row;
    h3{
      flex: 1;
    }
    .question_item{
      font-weight: bold;
      margin: 1em;
      flex: 1;
    }
    .response_item{
      margin: 1em;
      flex: 1;
    }
  }
}
.note_item{
  margin-top: 1em;
}
