/*
desired behavior: 

Concatenation

<strong>Question1:</strong> Answer1

use flex box
*/

.questions_responses_container{
  margin-top: 1em;
  display: flex;
  .questions_column{
    flex-direction: column;
    .question_item{
      flex: 1;
      margin-top: 1em;
    }
  }
  .responses_column{
    flex-direction: column;
    .response_item{
      flex: 1;
      margin-top: 1em;
    }
  }
}
