.prompts_responses_container{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  .prompt_response_row{
    border-bottom: 1px solid black;
    display: flex;
    .prompt_item{
      font-weight: bold;
      margin: 1em;
      flex: 1;
    }
    .response_item{
      margin: 1em;
      flex: 1;
    }
  }
}

.note_item{
  margin: 1em;
}
