.data_container{
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  .data_row{
    border-bottom: 1px solid black;
    display: flex;
    .prompt_item{
      margin: 1em;
      flex: 1;
    }
    .response_item{
      margin: 1em;
      flex: 1;
    }
    .explanation_item{
      margin: .5em;
      flex-grow: 1;
      font-style: italic;
      font-size: small;
    }
    .heading_item{
      margin: .5em;
      flex-grow: 1;
      font-style: bold;
      font-size: small;
    }
  }
}

.note_item{
  margin: 1em;
}
