html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.title{
  text-align: center;
}
.actions{
  margin: 1em;
  text-align: center;
  input{
    background: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    padding: 0.5em 2em;
  }
}
.field-row{
  display: flex;
  padding: .5em;
  .field-attribute{
    flex: 1;
    flex-direction: column;
    display: flex;
    input[type='checkbox'] {
      margin: 0px auto;
    }
  }
}
