= form_for department, url: {controller: :departments, action: action, id: department.id} do |f|
  .field
    = f.label :name
    = f.text_field :name, required: true
  .action
    = f.submit 'Save changes'
