%h1 Markdown explanation
%p Markdown is used in question rendering and here is simple guide to get you started.
%ul
	%li 
		:markdown 
			Surround text with \*asterisks\* or \_underscores\_for *italic text*
	%li 
		:markdown 
			Surround text with \*\*double asterisks\*\* or \_\_double underscores\_\_ for **bold text**
	%li 
		:markdown 
			Start lines with a plus (`+`), a minus (`-`), or an asterisk (`*`) to make a list (that's how we made this one!).
	%li 
		:markdown 
			For links, write the link text in [brackets] followed by the destination in (parentheses). Here's an example:
			Typing '`[our homepage](https://umasstransit.org)`' outputs the following link: [our homepage](https://umasstransit.org)
	%li 
		For additional exercise, you can refer to the markdown editor
		=link_to 'here.', markdowns_edit_path