%table.eeo_table
  %thead
    %tr
      %th Gender
      %th Total Applicants
      %th Total Interviews
      %th Total Hired
  - records[:genders].each do |gender, count, interview_count, hired|
    %tr
      %td= gender
      %td= count
      %td= interview_count
      %td= hired
