# This file serves as an example of application configuration.
# Place a application.yml file with your desired configuration in /config.

# REQUIRED KEYS

# This value will populate landing pages, page titles, and email templates.
organization_name: 'UMass Transit'

email:
  # This value determines where site emails will be sent from (e.g. noreply).
  default_from: 'transit-it@admin.umass.edu'
  # This value determines where emails about your site's content should go,
  site_contact_email: 'transit-it@admin.umass.edu'

# OPTIONAL KEYS
# Some site behaviors are configurable. The default values are provided below -
# simply copy and paste these key-value pairs into your application.yml file
# and change any values which you wish to change.

on_application_denial:
  # Whether an applicant should be notified when their application is denied.
  notify_applicant: true
  # If the note which staff members provide should be included in the email.
  # For instance, you may wish to provide feedback on steps applicants
  # could take in order to become eligible for the position in the future.
  notify_of_reason: true
  # Whether or not an applicant will be allowed to resubmit an application for
  # a particular position when they have previously had an application for that
  # position denied
  allow_resubmission: true
  # Whether or not the applicant will be allowed to refill in new applications
  # with data from past ones.
  fill_form_with_old: true
