# This file serves as an example of application configuration.
# Place a application.yml file with your desired configuration in /config.

# REQUIRED KEYS

# This value will populate landing pages, page titles, and email templates.
organization_name: 'UMass Transit'

deactivated_application:
# This is the text shown to applicants when the application is inactive.
# Follow the template like so. Make sure all names are underscored and
# lowercased.
  special_transportation:
    van_driver: 'We are not currently hiring van drivers'
  bus:
    operator: 'We are not currently hiring bus drivers'
    cleaner: 'We do not currently need any bus cleaners'

email:
  # This value determines where site emails will be sent from (e.g. noreply).
  default_from: 'transit-it@admin.umass.edu'
  # This value determines where emails about your site's content should go,
  # including emails about configurable site text requests.
  site_contact_email: 'transit-it@admin.umass.edu'

# OPTIONAL KEYS
# Some site behaviors are configurable. The default values are provided below -
# simply copy and paste these key-value pairs into your application.yml file
# and change any values which you wish to change.

on_application_denial:
  # Whether an applicant should be notified when their application is denied.
  notify_applicant: true
  # If the note which staff members provide should be included in the email.
  # For instance, you may wish to provide feedback on steps applicants
  # could take in order to become eligible for the position in the future.
  notify_of_reason: true
  # Whether or not an applicant will be allowed to resubmit an application
  # to a declined application
  allow_resubmission: true
  # Whether or not the applicant will be allowed to refill in new applications
  # with data from past ones.
  fill_form_with_old: true

# MESSAGE KEYS
# Many site messages which are shown to your users are configurable -
# in particular, the messages shown when database objects are touched.
# These messages are below, and can be configured as they are shown here.
# Unless otherwise marked, these messages are shown only to staff members.

messages:
  # message to display if the application has been activated
  active_application: 'The application is now active.'
  # message to display if the application has been deactivated
  inactive_application: 'The application is now inactive.'
  # shown to students when they submit an application
  application_receipt:  'Your application has been submitted. Thank you!'
  application_review:   'Application has been marked as reviewed.'
  department_create:    'Department has been created.'
  department_destroy:   'Department has been deleted.'
  department_update:    'Department has been updated.'
  eeo_enabled:          'EEO data requests enabled on this application.'
  eeo_disabled:         'EEO data requests disabled on this application.'
  interview_complete:   'Interview marked as completed.'
  interview_reschedule: 'Interview has been rescheduled.'
  position_create:      'Position has been created.'
  position_destroy:     'Position has been deleted.'
  position_update:      'Position has been updated.'
  question_create:      'Question was successfully updated.'
  question_destroy:     'Question was successfully removed.'
  question_update:      'Question was successfully updated.'
  site_text_request:    'Your request has been sent. Thank you!'
  site_text_update:     'Text was successfully updated.'
  user_create:          'User has been created.'
  user_destroy:         'User has been removed.'
  user_update:          'User has been updated.'
