default: &default
  adapter: trilogy
  encoding: utf8mb4
  collation: utf8mb4_unicode_520_ci
  username: <%= ENV['USER'] %>

development:
  <<: *default
  database: jobapps_development

test:
  <<: *default
  database: jobapps_test
