%h1 Editing #{@site_text.name} text
= form_for @site_text, url: {controller: :site_texts, 
                            action: :update,
                            id: @site_text.id} do |f|
  = f.text_area :text, size: '50x8'
  = f.submit 
