@use 'bootstrap/scss/bootstrap' with ($blue: #5b7f95, $red: #a8431e);
@use 'datatables.net-bs4/css/dataTables.bootstrap4';
@use 'jquery-ui-dist/jquery-ui';
@use 'multiple-select/dist/multiple-select';

@import "application_drafts/edit";
@import "application_records/eeo_display";
@import "application_records/show";
@import "application_templates/show";
@import "calendar";
@import "dashboard";
@import "date_range_data";
@import "flash";
@import "forms";
@import "subscriptions";
@import "umass";

body{
  display: flex;
  flex-direction: column;
  font-family: "Verdana", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.main-content{
  background-color: #fafafa;
}

h1{
  text-align: center;
}
.hidden {
  display: none;
}
