/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui-dist/jquery-ui
 *= require jquery-datetimepicker/jquery.datetimepicker.css
 *= require multiple-select/dist/multiple-select.css
 *= require_tree .
 *= require_self
 */

@import 'font-awesome';
@import 'datatables.net-bs4/css/dataTables.bootstrap4';
@import 'custom_bootstrap_variables';
@import 'bootstrap';

body{
  display: flex;
  flex-direction: column;
  font-family: "Verdana", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.main-content{
  background-color: #fafafa;
}
.fa-calendar{
  cursor: pointer;
}
h1{
  text-align: center;
}
.hidden {
  display: none;
}
