@use "bootstrap/scss/bootstrap" with ($blue: #5b7f95, $red: #a8431e);
@use "datatables.net-bs4/css/dataTables.bootstrap4";
@use "jquery-ui-dist/jquery-ui";
@use "multiple-select/dist/multiple-select";

// application
@use "application_drafts/edit" as application_drafts-edit;
@use "application_records/eeo_display" as application_records-eeo_display;
@use "application_records/show" as application_records-show;
@use "application_templates/show" as application_templates-show;
@use "calendar";
@use "dashboard";
@use "date_range_data";
@use "flash";
@use "forms";
@use "subscriptions";
@use "umass";

body{
  display: flex;
  flex-direction: column;
  font-family: "Verdana", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.main-content{
  background-color: #fafafa;
}

h1{
  text-align: center;
}
.hidden {
  display: none;
}
