@for $i from 1 through 48 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

.dashboard_partial{
  border: 2px solid #003a5b;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 5px;
  margin-bottom: .25em;
  z-index: 1000;
  overflow: visible;
  position: relative;
  padding-left: 10px;
  li {
    margin: .25em;
  }
  .title_header {
    width: 60%;
    margin: 5px 0px 5px 15px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px dotted black;
  }  
  .pending_applications_position {
    margin-left: 15px;
  }
}

.dashboard_heading {
  font-size: 24px;
  float: right;
  margin-bottom: -24px;
  margin-top: 2px;
  margin-right: 5px;
}

.application_block {
  margin-bottom: 20px;
}

.pending_applications_position {
  font-weight: bold;
  font-size: 16px;
}