#message, #errors {
  border-radius: 5px;
  margin: auto;
  margin-top: .25em;
  margin-bottom: .25em;
  padding: .25em;
  text-align: center;
  width: 95%;
}

#message {
  background-color: lightgreen;
  border: 2px solid #003a5b;
}

#errors {
  border: 2px solid #8D201E;
  background-color: #FFBABA;

  ul {
    list-style-type: none;
  }
}
