#message,
#errors {
  border-radius: 5px;
  margin: auto;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em;
  text-align: center;
  width: 95%;
}

#message {
  background-color: lightgreen;
  border: 2px solid #003a5b;
}

#errors {
  border: 2px solid #8d201e;
  background-color: #ffbaba;

  ul {
    list-style-type: none;
  }
}
