.form{
  margin: 0 5em;
  .title{
    text-align: center;
  }

  .header{
    background:  #ece0e0;
    font-size:   20px;
    font-weight: bold;
    margin:      1em auto;
    padding:     0.3em;
    text-align:  center;
  }

  .explanation{
    font-size: 90%;
    font-style: italic;
    text-align: center;
    ul {
      text-align: left;
    }
  }

  .field{
    margin: 1em;
    .label{
      white-space: normal !important;
      margin-right:   1em;
      text-align:     right !important;
      vertical-align: middle;
      width:          30%;
      color:          black;
    }
    input[type='number']{
      width: 3em;
    }
    input:not([type='radio']) {
      width: 90%;
    }
    select{
      border: 1px solid gray;
      width:  22.5em;
    }
  }

  span.ast{
    color: red;
  }
  .actions{
    margin-bottom: 1em;
    text-align: center; 
    input{
      background: lightgray;
      border: 1px solid gray;
      border-radius: 10px;
      cursor: pointer;
      font-size: 16px;
      padding: 0.5em 2em;
    }
  }
}
