form {
  .heading {
    background:  #ece0e0;
  }
  .explanation{
    font-style: italic;
    text-align: center;
    ul {
      text-align: left;
    }
  }
}
.required:after {
  content:"*";
  color:red;
}
