#umass_banner{
  background-color: #881c1c;
  max-width: 100%;
  padding: 1.25em;
  #wordmark{
    float: left;
  }
  #current_user_name{
    color: lightgrey;
    float: right;
    margin-right: 2em;
    text-align: right;
  }
  #links{
    float: right;
    padding: 0 2em 0 0;
    a{
      color: white;
      font-size: 16px;
      margin-right: 5px;
    }
  }
  #search{
    float: right;
    #submit{
      background: #881c1c url('search.svg') 0 0 no-repeat;
      background-size: contain;
      border: none;
      cursor: pointer;
      height: 1.75em;
      text-indent: -9999px;
      width: 1.75em;
    }
  }
}

#transportation_banner{
  background: #eeeeee;
  padding: 1.25em;
}

#footer{
  background-color: black;
  padding: 1.25em;
  text-align: center;
  .content, a{
    color: silver;
  }
}
