#umass_banner{
  background-color: #881c1c;
  max-width: 100%;
  padding: 1.25em;
  #links{
    padding: 0 2em 0 0;
    float: right;
    a{
      color: white;
      font-size: 16px;
      margin-right: 5px;
    }
  }
  #search{
    float: right;
    #submit{
      height: 1.75em;
      width: 1.75em;
      text-indent: -9999px;
      background: #881c1c url('search.svg') 0 0 no-repeat;
    }
  }
}

#transportation_banner{
  background: #eeeeee;
  padding: 1.25em;
}

#footer{
  background-color: black;
  padding: 1.25em;
  text-align: center;
  .content{
    color: silver;
    a{
      color: silver;
    }
  }
}
