%span.content
  &copy;
  = Time.now.year
  University of Massachusetts Amherst
  &bull;
  = link_to 'Site Policies', 'http://umass.edu/site_policies'
  &bull;
  = link_to 'Site Contact', configured_value([:email, :site_contact_email])
